# VirtualBox VM settings
v.gui: false  # Set to true for debugging. Will unhide VM's primary console screen.
v.memory: 6144  # Memory settings.
v.cpus: 8  # CPU settings. VirtualBox works much better with a single CPU.

# Network settings

#Uncomment if you need public ip
#public_ip: 192.168.0.22

ip:
  # The default box private network IP is 192.168.10.10
  primary: 192.168.10.10
  # Uncomment lines below to map additional IP addresses for use with multiple projects.
  # Project specific `<IP>:<port>` mapping for containers is done in via docker-compose in `docker-compose.yml`
  additional:
    #- 192.168.10.11
    #- 192.168.10.12
    #- 192.168.10.13




